.explore{
    margin-top: 40px;
    margin-left: 100px;
}

.s-grid{
    height: 250px;
    width: 300px;
    border: 2px solid white;
    margin-right: 15px;
}
.r-grid{
    height: 515px;
    width: 300px;
    border: 2px solid white;
    margin-right: 15px;
}
.row1 {
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;
}
.row2{
    margin-top: -270px;
    display: flex;
}
.row3{
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}
.row4{
    display: flex;
    margin-top:-270px ;
    margin-left: 5px;
   
}
.s-grid-i{
    height: 250px;
    width: 300px;
    border: none;
    margin-right: 15px;
    background: none;

}
.img-size{
    height: 250px;
    width: 300px;
}
.ver-img{
    height: 515px ;
    width:300px;
}
.bottom-f{
    color: gray;
    font-size: 14px;
    margin-left: 15%;
    margin-top: 100px;
    position: relative;
    bottom: 0px;
}
.bottom-f >p{
    color: gray;
}
.bottom-f >span{
    color: gray;
    font-size: 14px;
    margin-left: 20%;
}